
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

#define MOUSE 4
#define SCROLL 5
#define NUM 6

&mt {
    flavor = "balanced";
    quick-tap-ms = <0>;
};

/ {
    combos {
        compatible = "zmk,combos";

        comb1 {
            bindings = <&kp TAB>;
            key-positions = <11 10>;
        };

        comb2 {
            bindings = <&kp LS(ESCAPE)>;
            key-positions = <0 1>;
        };

        comb3 {
            bindings = <&kp CAPSLOCK>;
            key-positions = <22 23>;
        };

        comb4 {
            bindings = <&kp BACKSPACE>;
            key-positions = <9 8>;
        };

        comb5 {
            bindings = <&bt BT_CLR_ALL>;
            key-positions = <9 8>;
            timeout-ms = <0>;
            layers = <2>;
        };

        MS_BTN1_ {
            bindings = <&mkp MB1>;
            key-positions = <38 39>;
        };

        MS_BTN2_ {
            bindings = <&mkp MB2>;
            key-positions = <38 37>;
        };
    };

    macros {
        to_layer_0: to_layer_0 {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings = <&to 0 &macro_param_1to1 &kp MACRO_PLACEHOLDER>;
            label = "TO_LAYER_0";
        };

        zoom: zoom {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LCTRL &mo 1>;
            label = "zoom";
        };
    };

    behaviors {
        lt_to_layer_0: lt_to_layer_0 {
            compatible = "zmk,behavior-hold-tap";
            label = "LAYER_TAP_TO_0";
            bindings = <&mo>, <&to_layer_0>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
        };

scroll_up_down: scroll_up_down {
    compatible = "zmk,behavior-sensor-rotate";
    #sensor-binding-cells = <0>;
    bindings = <&msc SCRL_UP>, <&msc SCRL_DOWN>;
    tap-ms = <0>;
};

        scroll_up_down2: scroll_up_down2 {
            compatible = "zmk,behavior-sensor-rotate";
            #sensor-binding-cells = <0>;
            bindings = <&msc SCRL_UP>, <&msc SCRL_DOWN>;

            tap-ms = <40>;
            label = "SCROLL_UP_DOWN2";
        };
    };

    // エンコーダー：キー

    rot_kp: sensor_rotate_kp {
        compatible = "zmk,behavior-sensor-rotate-var";
        #sensor-binding-cells = <2>;
        bindings = <&kp>, <&kp>;
    };

    // エンコーダー：マウススクロール 

    rot_msc: sensor_rotate_msc {
        compatible = "zmk,behavior-sensor-rotate-var";
        #sensor-binding-cells = <2>;
        tap-ms = <20>;
        bindings = <&msc>, <&msc>;
    };

    // エンコーダー：マウススクロール(MOVE_Y)

    scroll_move_y: sensor_rotate_msc_for_move_y {
        compatible = "zmk,behavior-sensor-rotate";
        #sensor-binding-cells = <0>;
        bindings = <&msc MOVE_Y(20)>, <&msc MOVE_Y(-20)>;

        // tap-ms下限メモ Yの値で可変: Y(15) <81>, Y(20) <65>, Y(25) <49>

        tap-ms = <65>;
    };

    // エンコーダー：マウススクロール(MOVE_X)

    scroll_move_x: sensor_rotate_msc_for_move_x {
        compatible = "zmk,behavior-sensor-rotate";
        #sensor-binding-cells = <0>;
        bindings = <&msc MOVE_X(20)>, <&msc MOVE_X(-20)>;

        // tap-ms下限メモ Xの値で可変: X(15) <81>, X(20) <65>, X(25) <49>

        tap-ms = <65>;
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp Q             &kp W    &kp E         &kp R         &kp T                                                      &kp Y        &kp U  &kp I      &kp O       &kp P
&kp A             &kp S    &kp D         &kp F         &kp G          &to 1                &kp LS(EQUAL)          &kp H        &kp J  &kp K      &kp L       &kp MINUS
&mt LEFT_SHIFT Z  &kp X    &kp C         &kp V         &kp B          &kp INTERNATIONAL_5  &lt 3 INTERNATIONAL_4  &kp N        &kp M  &kp COMMA  &kp PERIOD  &mt RIGHT_SHIFT SLASH
&kp LCTRL         &kp TAB  &kp LEFT_GUI  &kp LEFT_ALT  &kp BACKSPACE  &lt 1 SPACE          &lt 2 DEL              &lt 2 ENTER                                &mt RCTRL C_MUTE
            >;

            sensor-bindings = <&scroll_move_y>;
        };

        number {
            bindings = <
&kp N1                        &kp N2            &kp N3                &kp N4        &kp N5                                  &kp N6            &kp N7        &kp N8             &kp N9           &kp N0
&kp EXCLAMATION               &kp LS(NUMBER_2)  &kp HASH              &kp DOLLAR    &kp PERCENT    &to 2       &bt BT_NXT   &kp LS(NUMBER_6)  &kp LS(N7)    &kp LS(N8)         &kp LS(N9)       &kp ENTER
&mt LEFT_SHIFT LS(SEMICOLON)  &kp MINUS         &kp LS(SINGLE_QUOTE)  &kp SLASH     &kp LS(MINUS)  &to 0       &bt BT_PRV   &kp LEFT_BRACKET  &kp QUESTION  &kp RIGHT_BRACKET  &kp NON_US_HASH  &kp LS(INTERNATIONAL_1)
&bt BT_SEL 0                  &bt BT_SEL 1      &bt BT_SEL 2          &bt BT_SEL 3  &bt BT_SEL 4   &bt BT_CLR  &lt 3 SPACE  &kp BACKSPACE                                                       &kp LEFT_SHIFT
            >;
        };

        function {
            bindings = <
&kp F1                 &kp F2                &kp F3            &kp F4         &kp F5                                              &kp F6            &kp F7          &kp F8        &kp F9         &kp F10
&kp INTERNATIONAL_1    &kp LS(LEFT_BRACKET)  &kp LS(NUMBER_2)  &kp SEMICOLON  &kp SINGLE_QUOTE  &to 3        &kp INTERNATIONAL_4  &kp INT_MUHENKAN  &kp PAGE_UP     &kp UP_ARROW  &kp PAGE_DOWN  &kp ENTER
&mt LEFT_SHIFT ESCAPE  &mkp MB4              &mkp MB5          &mkp MB3       &kp CAPS          &to 0        &lt 1 PERIOD         &kp HOME          &kp LEFT_ARROW  &kp DOWN      &kp RIGHT      &mt LEFT_SHIFT END
&kp LCTRL              &kp TAB               &kp LEFT_GUI      &kp LEFT_ALT   &kp BACKSPACE     &lt 1 SPACE  &kp DEL              &kp ENTER                                                      &kp LEFT_SHIFT
            >;
        };

        tenkey {
            bindings = <
&kp N7        &kp N8        &kp N9        &kp ASTERISK       &kp SLASH                            &kp LS(EQUAL)  &kp CARET  &kp C_AC_SCROLL_UP  &kp C_AC_SCROLL_DOWN  &kp P
&kp NUMBER_4  &kp N5        &kp NUMBER_6  &kp MINUS          &kp GRAVE      &to 0        &kp N2   &kp H          &kp J      &kp K_SCROLL_UP     &kp K_SCROLL_DOWN     &kp ENTER
&kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp LS(SEMICOLON)  &kp EQUAL      &kp N3       &kp N4   &kp N          &kp M      &kp COMMA           &kp PERIOD            &kp SLASH
&kp LCTRL     &kp N0        &kp PERIOD    &kp LS(MINUS)      &kp BACKSPACE  &lt 1 SPACE  &kp DEL  &kp ENTER                                                           &kp BSPC
            >;
        };

        MOUSE {
            bindings = <
&none           &none    &none         &none         &none                                                   &none      &mkp MB5  &none     &mkp MB3          &none
&none           &none    &none         &none         &none          &to 0             &kp RS(EQUAL)          &none      &mkp MB4  &mkp MB1  &lt 1 LEFT_SHIFT  &mkp MB2
&kp LEFT_SHIFT  &none    &none         &none         &none          &kp INT_MUHENKAN  &lt 3 INTERNATIONAL_4  &none      &none     &zoom     &none             &kp RIGHT_SHIFT
&kp LCTRL       &kp TAB  &kp LEFT_WIN  &kp LEFT_ALT  &kp BACKSPACE  &lt 1 SPACE       &lt 2 DELETE           &kp ENTER                                        &kp RCTRL
            >;
        };

        SCROLL {
            bindings = <
&kp Q       &kp W      &kp E     &kp R     &kp T                        &kp Y        &kp U  &kp I      &kp O       &kp P
&kp A       &kp S      &kp D     &kp F     &kp G        &kp N1  &kp N2  &kp H        &kp J  &kp K      &kp L       &kp ENTER
&kp Z       &kp X      &kp C     &kp V     &kp B        &kp N3  &kp N4  &kp N        &kp M  &kp COMMA  &kp PERIOD  &kp SLASH
&kp RSHIFT  &kp LCTRL  &kp LGUI  &kp LALT  &lt 1 SPACE  &kp N5  &kp N6  &lt 2 SPACE                                &kp BSPC
            >;
        };

        layer_6 {
            bindings = <
&kp Q       &kp W      &kp E     &kp R     &kp T                        &kp Y        &kp U  &kp I      &kp O       &kp P
&kp A       &kp S      &kp D     &kp F     &kp G        &kp N1  &kp N2  &kp H        &kp J  &kp K      &kp L       &kp ENTER
&kp Z       &kp X      &kp C     &kp V     &kp B        &kp N3  &kp N4  &kp N        &kp M  &kp COMMA  &kp PERIOD  &kp SLASH
&kp RSHIFT  &kp LCTRL  &kp LGUI  &kp LALT  &lt 1 SPACE  &kp N5  &kp N6  &lt 2 SPACE                                &kp BSPC
            >;
        };
    };
};
